aenum==3.1.15
altgraph==0.17.4
arabic-reshaper==3.0.0
argon2-cffi-bindings
arrow
asn1crypto==1.5.1
astroid
asttokens
atomicwrites==1.4.0
attrs
auto-py-to-exe==2.44.1
autopep8
Babel
backcall
backports.zoneinfo==0.2.1
bcrypt
beautifulsoup4
bidict==0.23.1
binaryornot
black
bleach
blinker==1.8.2
bottle==0.12.25
bottle-websocket==0.2.9
Bottleneck
brotlipy==0.7.0
certifi
cffi
chardet
charset-normalizer
click
cloudpickle
clr-loader==0.2.6
colorama
comm
control
cookiecutter
cryptography==42.0.8
cssselect2==0.7.0
cycler
cython
dash==2.17.1
dash-bootstrap-components==1.6.0
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
debugpy
decorator
defusedxml
diff-match-patch
docstring-to-markdown
docutils
easygui
Eel==0.16.0
entrypoints
et-xmlfile==1.1.0
executing
fastjsonschema
flake8
Flask==3.0.3
Flask-SocketIO==5.3.6
fonttools==4.25.0
fpdf
future==1.0.0
gevent==24.2.1
gevent-websocket==0.10.1
greenlet==3.0.3
h11==0.14.0
html5lib==1.1
idna
imagesize
importlib-metadata
importlib-resources
inflection==0.5.1
intervaltree
ipykernel
ipython
ipython-genutils
ipywidgets
isort
itsdangerous==2.2.0
jaraco.classes
jedi
jellyfish
Jinja2
jsonschema
jsonschema-specifications
jupyter-contrib-core
jupyter-contrib-nbextensions
jupyter-highlight-selected-word
jupyter-latex-envs
jupyter-nbextensions-configurator
jupyter_client
jupyter_core
jupyterlab-pygments
jupyterlab-widgets
kaleido==0.2.1
keyring
kiwisolver
lazy-object-proxy
lxml
markdown-it-py
MarkupSafe
matplotlib
matplotlib-inline
mccabe
mdurl
mistune==0.8.4
mkl-fft
mkl-random
mkl-service
more-itertools
munkres==1.1.4
mypy-extensions
nbclient
nbconvert
nbformat
nest-asyncio
notebook
numexpr
numpy
numpydoc
openpyxl==3.0.10
oscrypto==1.3.0
packaging
pandas
pandocfilters
paramiko
parso
pathspec
pefile==2023.2.7
pexpect
pickleshare
pillow
pkgutil_resolve_name
platformdirs
plotly
pluggy
prometheus-client
prompt-toolkit
proxy-tools==0.1.0
psutil
ptyprocess
pure-eval
pyasn1==0.5.1
pycodestyle
pycosat==0.6.3
pycparser
pydocstyle
pyflakes
Pygments
pyHanko==0.25.1
pyhanko-certvalidator==0.26.3
pyinstaller==6.10.0
pyinstaller-hooks-contrib==2024.8
pylint
pylint-venv
pyls-spyder==0.4.0
PyNaCl
pyOpenSSL
pyparsing
pypdf==4.3.0
PyPDF2==3.0.1
pypng==0.20220715.0
PyQt5
PyQt5_sip
PyQtChart
PyQtWebEngine
pyserial==3.5
PySimpleGUI==5.0.3
PySocks
python-bidi==0.4.2
python-dateutil
python-engineio==4.9.1
python-lsp-black
python-lsp-jsonrpc
python-lsp-server
python-slugify
python-socketio==5.11.3
pythonnet==3.0.3
pytoolconfig
pytz
pywebview==5.1
pywin32
pywin32-ctypes
pywinpty
PyYAML
pyzmq
QDarkStyle
qrcode==7.4.2
qstylizer
QtAwesome
qtconsole
QtPy
referencing
reportlab==4.2.2
requests==2.32.3
retrying==1.3.4
rich
rope
rpds-py
rsa==4.9
Rtree
ruamel-yaml-conda
scipy
Send2Trash
simple-websocket==1.0.0
six
slycot==0.4.0.0
snowballstemmer
sortedcontainers
soupsieve
Sphinx
sphinxcontrib-applehelp
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-jsmath
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml
spyder
spyder-kernels
stack-data
svglib==1.5.1
tenacity
terminado
text-unidecode
textdistance
three-merge
tinycss2
tkhtmlview==0.3.0
toml
tomli
toolz
tornado
tqdm
traitlets
typing_extensions
tzdata==2024.1
tzlocal==5.2
ujson
Unidecode
uritools==4.0.3
urllib3
watchdog
wcwidth
webencodings==0.5.1
Werkzeug==3.0.3
whatthepatch
whichcraft==0.6.1
widgetsnbextension
win-inet-pton
wincertstore==0.2
wrapt
wsproto==1.2.0
xhtml2pdf==0.2.16
yapf
zipp
zope.event==5.0
zope.interface==6.3
